@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Sen:wght@400;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .station-lay {
    background-image: linear-gradient(
        to bottom,
        rgba(52, 58, 64, 0.35),
        rgba(52, 58, 64, 0.35)
      ),
      url(../public/imgs/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #343a40;
    border-radius: 10px;
  }

  .pattern {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='8' patternTransform='scale(1.2) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(202, 80%, 24%, 1)'/><path d='M-.02 22c8.373 0 11.938-4.695 16.32-9.662C20.785 7.258 25.728 2 35 2c9.272 0 14.215 5.258 18.7 10.338C58.082 17.305 61.647 22 70.02 22M-.02 14.002C8.353 14 11.918 9.306 16.3 4.339 20.785-.742 25.728-6 35-6 44.272-6 49.215-.742 53.7 4.339c4.382 4.967 7.947 9.661 16.32 9.664M70 6.004c-8.373-.001-11.918-4.698-16.3-9.665C49.215-8.742 44.272-14 35-14c-9.272 0-14.215 5.258-18.7 10.339C11.918 1.306 8.353 6-.02 6.002'  stroke-width='0.6' stroke='hsla(201, 94%, 86%, 0.2)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-405,-45)' fill='url(%23a)'/></svg>");
  }
}
